.hero {
  width: 100%;
  max-width: 1200px; 
  margin: 0 auto;
  text-align: center;
  padding: 60px 20px; 
  background-color: #f8f9fa;
  border-radius: 10px;
}

.hero h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 20px;
}

.hero button {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color:inherit
}

.hero button:hover {
  background-color: #555;
}
